@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
body {
  font-family: "Montserrat", sans-serif;
}
::-webkit-scrollbar {
  width: 15px;
  height: 15px;
}
::-webkit-scrollbar-thumb {
  background: #20c997;
  border-radius: 3px;
}
::-webkit-scrollbar-thumb:hover {
  background: lightgreen;
}
.navbar .dropdown-menu {
  font-size: 14px;
  color: #000;
  font-weight: 600;
}
.des {
  padding: 60px 0px;
}

.now {
  background: #44d2a8;
  color: #fff;
  padding: 15px;
  border-radius: 9px;
}
.subs {
  background: #44d2a8;
  color: #fff;
  padding: 6px 40px;
  font-size: 20px;
  width: 97%;
  margin: 0px 10px 20px 0px;
  line-height: 45px;
}
.infoc {
  color: #adb5bd;
  padding-left: 5px;
  cursor: pointer;
}
.subs:hover {
  background: #000;
  color: #fff;
}
.now:hover {
  background: #000;
  color: #fff;
}
.hd1 {
  font-size: 3.5rem;
}
.shadw {
  box-shadow: 0 0px 9px rgb(0 0 0 / 7%);
}
.bns {
  font-size: 13px;
  font-weight: 600;
}
.bns:hover {
  background: none;
  color: #44d2a8;
}
.landing:hover {
  color: #44d2a8 !important;
}
.pghe {
  font-size: 12px;
  font-weight: normal;
  padding-left: 18px;
  margin-bottom: 0px;
}
.border-underline {
  display: inline;
  border-bottom: 4px solid #44d2a8;
}
.pg1 {
  font-size: 15px;
  line-height: 35px;
}
.navbar-light .navbar-nav .nav-link {
  color: #000;
  padding: 20px;
}
.image {
  width: 100%;
  display: block;
}
.down {
  display: flex;
  justify-content: space-between;
}
.new {
  background: #44d2a8;
}
.more {
  color: #44d2a8;
  text-decoration: none;
  font-size: 16px;
  padding-left: 15px;
}
.more:hover {
  color: #000;
}
.line {
  color: #ccc;
  margin-bottom: 40px;
}
.nsdf {
  color: #ccc;
}
hr:not([size]) {
  height: 2px;
}
.capture {
  margin-bottom: 90px;
}
.hd2 {
  font-size: 3.5rem;
  font-weight: 700;
  margin-bottom: 10px;
}
.pg2 {
  font-size: 20px;
}
.figmas {
  position: relative;
  margin-bottom: 160px;
  box-shadow: 0 8px 16px rgb(0 0 0 / 4%);
}
.fig {
  position: relative;
}
.figc {
  background: #44d2a8;
  position: absolute;
  top: 47%;
  right: 43%;
  padding: 13px;
  border-radius: 26px;
  font-size: 16px;
}
.easeinout {
  transition: 0.5s ease-in-out;
}
.easeinout:hover {
  transform: translateY(-5px);
}
.see {
  font-weight: normal;
}
.int {
  padding-left: 0px;
  font-size: 15px;
}
.hd3 {
  font-size: 1rem;
}
.hd4 {
  font-weight: 700;
  font-size: 2.5rem;
}
.pg4 {
  font-size: 14px;
  line-height: 33px;
}
.topimg {
  padding: 40px;
}
.bottomimg {
  padding: 40px;
}
.platforms {
  box-shadow: 0 8px 16px rgb(0 0 0 / 4%);
  padding: 30px;
}
.midb {
  margin-bottom: 160px;
}
.powerful {
  padding: 15px;
  margin-bottom: 100px;
  width: 32%;
}
.powerfull {
  padding: 19px 44px;
  width: 48%;
  margin: 0px 0px 16px -3px;
}
.reachus {
  margin: 60px 0px 0px 0px;
}
.correct {
  color: #44d2a8;
  padding-right: 7px;
}
.wrong {
  color: #e25563;
  padding-right: 7px;
}
.list-group-item {
  border: none;
  font-size: 14px;
  font-weight: normal;
}
.powerful:first-child {
  margin-left: 0px;
}
.powerful:last-child {
  margin-right: 0px;
}
.card-img-top {
  margin-top: 1.5rem;
  height: auto;
  max-width: 100%;
}
.btn-play {
  padding: 7px 5px;
  text-align: center;
  width: 38px;
  box-shadow: 0 0px 9px rgb(0 0 0 / 7%);
  border-radius: 50%;
  margin: 25px 19px;
}
.btn-play:hover {
  background: #44d2a8;
  color: #fff;
}
.h5d {
  font-size: 1.5rem;
  font-weight: 700;
  color: #1e1e1e;
}
.pde {
  font-size: 16px;
  color: #1e1e1e;
}
.form-switch .form-check-input {
  width: 4.625rem !important;
  height: 2.2rem !important;
}
.form-check-input:checked {
  background-color: #20c997;
  border-color: #20c997;
}
.pdef {
  font-weight: 500;
  color: #7e757d;
}
.h445 {
  font-size: 3.5rem;
  font-weight: 600;
}
.subscribe {
  height: 58px;
  padding: 6px 40px;
  font-size: 20px;
  line-height: 45px;
}
.pg6 {
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 30px;
}
.butwn {
  margin-bottom: 50px;
  width: 6.325rem;
}
.form-switch .form-check-input {
  width: 4.625em;
  height: 2.4rem;
}
.support {
  color: #7e757d;
  text-decoration: none;
  font-weight: 600;
}
.support:hover {
  color: #44d2a8;
}
.reachus {
  margin-bottom: 160px;
}
.gets {
  background: #f8f9fa;
  border-radius: 2%;
  margin-bottom: 100px;
}
.mnth {
  padding-top: 2px;
}
.rew {
  margin-bottom: 38px;
}
.h3y {
  font-size: 2rem;
  font-weight: 700;
}
.free {
  padding: 75px;
}
.treal {
  border-radius: 7%;
}
.ptf {
  font-weight: 600;
  font-size: 16px;
  padding-left: 30px;
}
.partners {
  background: #f8f9fa;
  padding: 40px 40px 20px 40px;
}
.partners ul li {
  list-style: none;
}
.partners ul li a {
  text-decoration: none;
  color: #1e1e1e;
}
.partners ul li a:hover {
  color: #44d2a8;
}
.plgn {
  margin-left: 8px;
}
.rights {
  font-size: 12px;
  color: #7e757d;
}
.wsa {
  font-size: 22px;
  color: #7e757d;
  padding: 0px 10px;
}
.wsa:hover {
  color: #44d2a8;
}

.policy {
  background: #1e1e1e;
  line-height: 24px;
}
.cookie {
  color: #44d2a8;
  text-decoration: none;
}
.cookie:hover {
  color: #fff;
}
.alert-warning {
  background: #1e1e1e;
  border: none;
  color: #fff;
}
.btn-close {
  color: #fff;
}
/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/* laptop only  */
@media (min-width: 768px) {
  .dropdown:hover .dropdown-menu {
    display: block;
  }
}

/* mobile phones */
@media (max-width: 768px) {
  body {
    overflow-x: hidden;
  }
  ::-webkit-scrollbar {
    width: 0px;
  }
  .navbar-toggler {
    margin-right: 20px;
  }
  .form-switch {
    padding-left: 14.5rem;
  }
  .res {
    margin-left: 13px;
  }
  .rew {
    position: relative;
  }
  .mmth {
    text-align: center;
    margin-bottom: 10px;
  }
  .year {
    text-align: center;
    margin-top: 10px;
  }
  .toggler {
    margin-left: -65px;
  }
  .pg1 {
    font-size: small;
  }
  .pg2 {
    font-size: 13px;
  }

  .eis {
    width: 85%;
    margin-left: 30px;
  }
  .esi {
    width: 85%;
    margin-left: 30px !important;
  }

  .subs {
    width: 97%;
  }
  .imgf {
    width: 88%;
    padding-left: 28px;
  }
  .hd1 {
    font-size: 45px;
  }
  .pg6 {
    font-size: 32px;
  }
  .hd2 {
    font-size: 40px;
  }
  .figc {
    top: 45%;
    right: 41%;
    padding: 9px;
    border-radius: 26px;
    font-size: 12px;
  }
  .rights {
    padding-bottom: 20px;
  }
  .intgra {
    margin-left: 29px !important;
  }
  .wowimg {
    width: 88%;
  }
  .free {
    padding: 25px;
  }
  .cap {
    width: 88%;
    margin-left: 19px;
  }
  .remov {
    width: 88%;
    padding-top: 0%;
  }
  .line {
    margin-bottom: 22px;
  }
  .mnth {
    padding-bottom: 0;
  }
  .redf {
    display: flex;
    justify-content: space-between;
  }
}
